<div class="main-menu-navigation mg-tb-3">
    <div class="container">
        <div class="columns">
            <div class="column col-12 col-lg-12">
                <div class="navbar-navigation">
                    <button id="omega-button"><span>Menu</span> <i class="icofont-navigation-menu"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="omega">
    <div id="omega-content">

        <nav>
            <ul>
                <li class="omega-nav-item"><a href="#"><i class="icofont-ui-home"></i><span>Accueil</span><i class="icofont-arrow-down"></i></a>
                    <ul class="omega-submenu">
                        <li><a href="/admin">Retour à l'accueil</a></li>
                        <li><a href="/admin/company">Mon entreprise</a></li>
                        <li><a href="/admin/status">Gérer les statuts</a></li>
                        <li><a href="/admin/departments">Gérer les départements</a></li>
                    </ul>
                </li>
                <li class="omega-nav-item"><a href="#"><i class="icofont-users-alt-2"></i><span>Utilisateurs</span><i class="icofont-arrow-down"></i></a>
                    <ul class="omega-submenu">
                        <li><a href="/admin/ausers">Liste des utilisateurs</a></li>
                        <li><a href="/admin/ausers/roles">Gérer les rôles</a></li>
                    </ul>
                </li>
                <li class="omega-nav-item"><a href="#"><i class="icofont-id"></i><span>Clients</span><i class="icofont-arrow-down"></i></a>
                    <ul class="omega-submenu">
                        <li><a href="/admin/clients">Liste des clients</a></li>
                        <li><a href="/admin/add-client">Créer un client</a></li>
                    </ul>
                </li>
                <li class="omega-nav-item"><a href="#"><i class="icofont-tools-bag"></i><span>Interventions</span><i class="icofont-arrow-down"></i></a>
                    <ul class="omega-submenu">
                        <li><a href="/admin/interventions">Liste des interventions</a></li>
                        <li><a href="/admin/add-intervention">Créer une intervention</a></li>
                    </ul>
                </li>
                <li class="omega-nav-item"><a href="#"><i class="icofont-monitor"></i><span>Equipements</span><i class="icofont-arrow-down"></i></a>
                    <ul class="omega-submenu">
                        <li><a href="/admin/equipments">Liste des équipements</a></li>
                        <li><a href="/admin/add-equipment">Créer un équipement</a></li>
                        <li><a href="/admin/equipments/categories">Gérer les catégories</a></li>
                        <li><a href="/admin/equipments/brands">Gérer les marques</a></li>
                        <li><a href="/admin/operating-systems">Gérer les systèmes d'exploitation</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="omega-links">
            <a href="/logout" class="button text-center">Déconnexion</a>
        </div>
    </div>

    <div id="omega-sidebar">
        <div id="omega-sidebar-header"><strong>Proaxive</strong> Lite Panel</div>
        <div id="omega-sidebar-body"></div>
    </div>
    <div id="omega-overlay"></div>

</div>