/* line 1, sass/voucher.scss */
.pdf {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
/* line 2, sass/voucher.scss */
.pdf .pb1 {
  padding-bottom: 1em;
}
/* line 3, sass/voucher.scss */
.pdf .pb2 {
  padding-bottom: 2em;
}
/* line 4, sass/voucher.scss */
.pdf .pb3 {
  padding-bottom: 3em;
}
/* line 5, sass/voucher.scss */
.pdf .pt1 {
  padding-top: 1em;
}
/* line 6, sass/voucher.scss */
.pdf .pr05 {
  padding-right: 0.5em;
}
/* line 7, sass/voucher.scss */
.pdf .pr1 {
  padding-right: 1em;
}
/* line 8, sass/voucher.scss */
.pdf .pl1 {
  padding-left: 1em;
}
/* line 9, sass/voucher.scss */
.pdf .pl05 {
  padding-left: 0.5em;
}
/* line 10, sass/voucher.scss */
.pdf .p0 {
  padding: 0 !important;
}
/* line 11, sass/voucher.scss */
.pdf .p1 {
  padding: 1em;
}
/* line 12, sass/voucher.scss */
.pdf .m0 {
  margin: 0;
}
/* line 13, sass/voucher.scss */
.pdf .mt1 {
  margin-top: 1em;
}
/* line 14, sass/voucher.scss */
.pdf .mb2 {
  margin-bottom: 2em;
}
/* line 15, sass/voucher.scss */
.pdf .mb3 {
  margin-bottom: 3em;
}
/* line 18, sass/voucher.scss */
.pdf strong {
  font-weight: 600;
}
/* line 19, sass/voucher.scss */
.pdf * {
  padding: 0;
  margin: 0;
}
/* line 20, sass/voucher.scss */
.pdf .d-inline {
  display: inline-block;
}
/* line 21, sass/voucher.scss */
.pdf h3, .pdf h4, .pdf p {
  margin: 0;
  line-height: inherit;
}
/* line 25, sass/voucher.scss */
.pdf h4 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
}
/* line 30, sass/voucher.scss */
.pdf ul {
  margin: 0;
  padding: 0;
}
/* line 33, sass/voucher.scss */
.pdf ul li {
  list-style: none;
  padding: 0 0.5em;
  line-height: 1.8;
}
/* line 38, sass/voucher.scss */
.pdf .form-checkbox {
  padding: 0 .1rem 0 1rem;
  line-height: inherit;
  min-height: inherit;
}
/* line 42, sass/voucher.scss */
.pdf .form-checkbox .form-icon {
  top: 0;
}
/* line 46, sass/voucher.scss */
.pdf .form-group:not(:last-child) {
  margin-bottom: 0;
}
/* line 49, sass/voucher.scss */
.pdf .txtcenter {
  text-align: center;
}
/* line 50, sass/voucher.scss */
.pdf .txtright {
  text-align: right;
}
/* line 51, sass/voucher.scss */
.pdf .txtuppercase {
  text-transform: uppercase;
}
/* line 55, sass/voucher.scss */
.pdf #container {
  width: 1000px;
  margin: 0 auto;
}
/* line 60, sass/voucher.scss */
.pdf .title-container {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
/* line 66, sass/voucher.scss */
.pdf .companyname-adress {
  width: 85%;
}
/* line 69, sass/voucher.scss */
.pdf .logo-company {
  display: inline;
  position: relative;
}
/* line 72, sass/voucher.scss */
.pdf .logo-company .logo__container {
  position: relative;
  height: 100%;
}
/* line 75, sass/voucher.scss */
.pdf .logo-company .logo__container > div {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 87, sass/voucher.scss */
.pdf .logo-company .logo {
  height: 100%;
  padding: 0.5em 0;
  text-align: center;
}
/* line 91, sass/voucher.scss */
.pdf .logo-company .logo img {
  max-width: 85%;
  min-width: 25%;
  max-height: 90px;
  display: inline-block;
}
/* line 99, sass/voucher.scss */
.pdf .block {
  margin: 0;
}
/* line 102, sass/voucher.scss */
.pdf .block h3 {
  font-size: inherit;
  font-weight: 600;
}
/* line 106, sass/voucher.scss */
.pdf .block-title {
  line-height: 1.8em;
}
/* line 109, sass/voucher.scss */
.pdf .block-title h3 {
  font-size: 1em;
  font-weight: 600;
}
/* line 113, sass/voucher.scss */
.pdf .block-content {
  padding: 0 0.5em;
}
/* line 115, sass/voucher.scss */
.pdf .block-content.tension {
  padding: 0;
}
/* line 117, sass/voucher.scss */
.pdf .block-content.tension .border-bottom {
  border-bottom: 0;
}
/* line 118, sass/voucher.scss */
.pdf .block-content.tension .border-left {
  border-left: 0;
}
/* line 119, sass/voucher.scss */
.pdf .block-content.tension .border-right {
  border-right: 0;
}
/* line 122, sass/voucher.scss */
.pdf .block-company-logo {
  margin: 0;
}
/* line 126, sass/voucher.scss */
.pdf .bi--children h3.children-title {
  line-height: 1.5em;
}
/* line 130, sass/voucher.scss */
.pdf .etiquette {
  position: absolute;
  z-index: 20;
  padding: 1em;
  top: 1.5em;
  bottom: 0;
  right: 0;
  line-height: 16;
  width: 40px;
}
/* line 140, sass/voucher.scss */
.pdf .etiquette span {
  transform: rotate(-90deg);
  vertical-align: middle;
}
/* line 145, sass/voucher.scss */
.pdf .checkbox {
  border-radius: 0;
  width: 0.8em;
  height: 0.8em;
  vertical-align: top;
}
/* line 151, sass/voucher.scss */
.pdf .list-checkbox label, .pdf .block--inline label {
  font-size: 0.9em;
  margin-left: 0.5em;
  margin-bottom: 0;
}
/* line 156, sass/voucher.scss */
.pdf footer {
  padding: 0.2em;
  font-weight: 400;
  font-size: 2.5em;
}
/** Fixed update 1.5.2 **/
.pdf-outlay .span-table span{
    padding: 0.2em 0.4em;
}
.pdf-outlay .primary{
  color:white;
}
.pdf-outlay .head-title{
  padding: 0.2em 0.4em;
  font-weight: 600;
}
.pdf-outlay .company-info{
  border:0 !important;
}
.pdf-outlay .case-check ul li{
  display: inline-block;
  background-color: white;
  margin-right: 0.5em;
  padding: 0;
  margin-top: 0;
}
.pdf-outlay .table-info-equipment{
  height: 390px;
}
.pdf-outlay .table-info-equipment, .pdf-outlay .bloc-sign, .pdf-outlay .create-at{
  margin-left: .4rem;
  margin-right: .4rem;
}
.pdf-outlay .bloc-sign {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.pdf-outlay .bloc-sign> div {
  width: 40%;
  border: 1px solid black;
  padding: 0.5em;
  height: 180px;
  box-shadow: 5px 5px 0px 0px gray;
}
.pdf-outlay .bandeau-page{
  background-color: #e6e6e6;
  margin-top: 2em;
  padding: 0.2em;
  font-weight: 400;
  color: #cacaca;
  font-size: 2.3em;
}
