<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page introuvable | Proaxive Light par Synexo Labs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&display=swap" rel="stylesheet">
    <!-- START::materialize -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- START::LAYOUT -->
    <link rel="stylesheet" href="/layout/default/assets/compass/stylesheets/app.css">
</head>
<body class="layout-error">
<!--[if lt IE 8]>
<![endif]-->

<main class="main-container txtcenter">
    <div class="container-fluid">
        <h1>Erreur 404</h1>
        <span>Désolé, cette page n'existe pas ou plus</span>
        <p class="mt3"><a href="/" class="btn btn-primary">Retour</a></p>
    </div>
</main>

</body>

</html>