<div class="card-custom">
    <h1 class="title-card">Nos techniciens</h1>
    <div class="card-content">
        <ul class="list-users">
            <li>Yann.C <span class="label label-secondary">Super Admin</span></li>
            <li>John.D <span class="label label-primary">Technicien</span></li>
        </ul>
    </div>
</div>