<div class="card-custom">
    <h1 class="title-card"><i class="material-icons">info_outline</i> Informations</h1>
    <div class="card-content">

    </div>
    <div class="card-action center">

    </div>
</div>