{% extends '_layout/dashboard/layout.twig' %}

{% block title %} Modification d'un status {% endblock %}
{% block body %}

    <div class="section--admin">
        <div class="container">
            <div class="admin-content">
                {{ include('_notifications.twig') }}
                <form method="post" action="#">
                    <div class="card-custom">
                        <div class="card-body">
                            <div class="card-header"><h2>Modifier un OS (système d'exploitation) - {{ operatingsystem.os_name }}</h2></div>
                            <div class="admin-form">
                                {{ include('operating-system/admin/_form.twig') }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}