{% extends '_layout/dashboard/layout_login.twig' %}

{% block body %}
    {{ include('_notifications.twig') }}
    <div class="card-body">
        <div class="mg-tb-3">
            Si vous avez oublié votre mot de passe, merci d'indiquer l'adresse courriel de votre compte Proaxive.
            <p><strong>Un lien de réinitialisation vous sera envoyé par courriel.</strong></p>
        </div>
        {{ form.inputWithIcon('email', false, 'email', 'bruce@waynetech.com', {type: 'email'}) | raw }}
    </div>
    <div class="card-footer text-center">
        <button type="submit" name="" class="btn btn-primary"><i class="icofont-check"></i> Réinitialiser</button>
    </div>
{% endblock %}