{% extends '_layout/dashboard/layout_login.twig' %}

{% block body %}
    {{ include('_notifications.twig') }}
    <div class="card-body">
        <div class="text-center mg-tb-3">
            <img width="30%" src="{{ getenv('APP_ROOT_PUBLIC') }}/assets/styles/proaxive/proaxive_logo_synexolabs_400.png" alt="">
        </div>
        {{ form.email('email', '<i class="icofont-email"></i> Adresse email', 'bruce@waynetech.com') | raw }}
    </div>
    <div class="card-footer text-center">
        <button type="submit" name="" class="btn btn-primary"><i class="icofont-check"></i> Réinitialiser</button>
    </div>
{% endblock %}