<div class="card-custom">
    <h1 class="title-card primary whitetxt">La maintenance n'a pas encore débutée</h1>
    <div class="card-content">
        Votre équipement a bien été récupéré, mais l'intervention n'a pas encore débutée. Ca ne devrait plus être long, n'hésitez pas à revenir régulièrement.<br>
    </div>
</div>
