/** Colors variables **/
/* line 13, ../sass/app.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f2f2f2;
}

/**/
/* line 3, ../sass/_base.scss */
i {
  vertical-align: middle;
}

/* Padding and margin */
/* line 7, ../sass/_base.scss */
.m0 {
  margin: 0 !important;
}

/* line 8, ../sass/_base.scss */
.mb1 {
  margin-bottom: 10px !important;
}

/* line 9, ../sass/_base.scss */
.mb2 {
  margin-bottom: 20px !important;
}

/* line 10, ../sass/_base.scss */
.mb3 {
  margin-bottom: 30px !important;
}

/* line 11, ../sass/_base.scss */
.mt1 {
  margin-top: 10px !important;
}

/* line 12, ../sass/_base.scss */
.mt2 {
  margin-top: 20px !important;
}

/* line 13, ../sass/_base.scss */
.mt3 {
  margin-top: 30px !important;
}

/* line 14, ../sass/_base.scss */
.p1 {
  padding: 1em;
}

/* line 15, ../sass/_base.scss */
.p2 {
  padding: 2em;
}

/* line 16, ../sass/_base.scss */
.p3 {
  padding: 3em;
}

/* line 17, ../sass/_base.scss */
.p4 {
  padding: 4em;
}

/* line 18, ../sass/_base.scss */
.p5 {
  padding: 5em;
}

/* line 19, ../sass/_base.scss */
.pb1 {
  padding-bottom: 1em;
}

/* line 20, ../sass/_base.scss */
.pb2 {
  padding-bottom: 2em;
}

/* line 21, ../sass/_base.scss */
.pb3 {
  padding-bottom: 3em;
}

/* line 22, ../sass/_base.scss */
.pb4 {
  padding-bottom: 4em;
}

/* line 23, ../sass/_base.scss */
.pb5 {
  padding-bottom: 5em;
}

/* line 24, ../sass/_base.scss */
.pt1 {
  padding-top: 1em;
}

/* line 25, ../sass/_base.scss */
.pt2 {
  padding-top: 2em;
}

/* line 26, ../sass/_base.scss */
.pt3 {
  padding-top: 3em;
}

/* line 27, ../sass/_base.scss */
.pt4 {
  padding-top: 4em;
}

/* line 28, ../sass/_base.scss */
.pt5 {
  padding-top: 5em;
}

/* line 29, ../sass/_base.scss */
.pl1 {
  padding-left: 1em;
}

/* line 30, ../sass/_base.scss */
.pl2 {
  padding-left: 2em;
}

/* line 31, ../sass/_base.scss */
.pl3 {
  padding-left: 3em;
}

/* line 32, ../sass/_base.scss */
.pl4 {
  padding-left: 4em !important;
}

/* line 33, ../sass/_base.scss */
.pl5 {
  padding-left: 5em !important;
}

/* Box Shadow */
/* line 35, ../sass/_base.scss */
.noshadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* Position */
/* line 39, ../sass/_base.scss */
.p-relative {
  position: relative;
}

/* Block */
/* line 43, ../sass/_base.scss */
.d-block {
  display: block;
}

/* Text */
/* line 45, ../sass/_base.scss */
.small-txt08 {
  font-size: 0.9em;
}

/* line 46, ../sass/_base.scss */
.txtright {
  text-align: right;
}

/* line 47, ../sass/_base.scss */
.txtleft {
  text-align: left;
}

/* line 48, ../sass/_base.scss */
.txtcenter {
  text-align: center;
}

/* line 49, ../sass/_base.scss */
.txtwhite {
  color: white;
}

/* line 50, ../sass/_base.scss */
strong {
  font-weight: 600 !important;
}

/* Border radius */
/* line 52, ../sass/_base.scss */
.bradius {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Rounded */
/* line 56, ../sass/_base.scss */
.rounded30 {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

/* Background color */
/* line 58, ../sass/_base.scss */
.secondary {
  background-color: #cdcdcd !important;
}

/* line 59, ../sass/_base.scss */
.secondary.dark-1 {
  background-color: #252944;
}

/* Text Style Transfom */
/* line 61, ../sass/_base.scss */
.whitetxt {
  color: #ffffff;
}

/* line 62, ../sass/_base.scss */
.txtuppercase {
  text-transform: uppercase;
}

/* Border */
/* line 64, ../sass/_base.scss */
.lborder {
  border-left: 1px solid #e8e8e8;
}

/* line 65, ../sass/_base.scss */
.rborder {
  border-right: 1px solid #e8e8e8;
}

/* Edit Materialize */
/* line 67, ../sass/_base.scss */
.dropdown-content li span {
  color: #333333;
}
/* line 69, ../sass/_base.scss */
.dropdown-content li span:hover {
  color: #ffffff;
}

/* line 73, ../sass/_base.scss */
.dropdown-content li.selected {
  background-color: #26a69a !important;
}
/* line 75, ../sass/_base.scss */
.dropdown-content li.selected span {
  color: #ffffff !important;
}

/* line 80, ../sass/_base.scss */
.status {
  font-size: 0.8em;
  padding: 0.3em 1em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 1em;
  right: 1em;
  animation: colorblink 3s infinite;
}

@keyframes colorblink {
  50% {
    background-color: #ffffff;
  }
}
/* line 95, ../sass/_base.scss */
.page-footer {
  padding-top: 0;
}

/* line 99, ../sass/_base.scss */
.dblock {
  display: block;
}

/* line 101, ../sass/_base.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

/* line 107, ../sass/_base.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

/* line 112, ../sass/_base.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* line 1, ../sass/_label.scss */
.label {
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 0.3em 0.5em;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 8, ../sass/_label.scss */
.label-primary {
  background-color: #008c7b;
  color: #ffffff;
}

/* line 9, ../sass/_label.scss */
.label-success {
  background-color: #e4f5f3;
  color: #ffffff;
}

/* line 10, ../sass/_label.scss */
.label-secondary {
  background-color: #cdcdcd;
  color: #ffffff;
}

/* line 11, ../sass/_label.scss */
.label-danger {
  background-color: #c0392b;
  color: #ffffff;
}

/* line 1, ../sass/_home.scss */
.section.home-background {
  color: #ffffff;
}

/* line 4, ../sass/_home.scss */
.title-page {
  padding: 1.5em;
  background-color: white;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
/* line 8, ../sass/_home.scss */
.title-page h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: 600;
  color: #5f5e5e;
}

/* line 1, ../sass/_navigation.scss */
nav.navigation {
  line-height: 55px;
  height: 55px;
}
/* line 4, ../sass/_navigation.scss */
nav.navigation ul {
  margin: 0;
  line-height: 40px;
}
/* line 7, ../sass/_navigation.scss */
nav.navigation ul li {
  margin: 0;
}
/* line 9, ../sass/_navigation.scss */
nav.navigation ul li a {
  color: #ffffff;
}
/* line 12, ../sass/_navigation.scss */
nav.navigation ul li .nav-ico i {
  font-size: 1.3em;
  text-align: center;
  line-height: inherit;
  height: 1rem;
}
/* line 21, ../sass/_navigation.scss */
nav.navigation ul.dropdown-content li a {
  color: #222222;
}
/* line 23, ../sass/_navigation.scss */
nav.navigation ul.dropdown-content li a:hover {
  background-color: #f8f8f8;
}

/* line 1, ../sass/_nav.scss */
.navbar-default {
  padding: 0.5em 0;
}
/* line 4, ../sass/_nav.scss */
.navbar-default .sitename a {
  color: white;
  font-size: 1.2rem;
}
/* line 10, ../sass/_nav.scss */
.navbar-default .links ul {
  margin: 0;
}
/* line 12, ../sass/_nav.scss */
.navbar-default .links ul li {
  display: inline-block;
  list-style: none;
  padding-right: 0.5em;
}
/* line 16, ../sass/_nav.scss */
.navbar-default .links ul li:last-child {
  padding-right: 0;
}
/* line 19, ../sass/_nav.scss */
.navbar-default .links ul li a {
  color: white;
}
@media screen and (min-width: 200px) and (max-width: 940px) {
  /* line 22, ../sass/_nav.scss */
  .navbar-default .links ul li a span {
    display: none;
  }
}

/* line 1, ../sass/_app-content.scss */
.container {
  margin: 0 auto;
  max-width: 1280px;
}

/* line 5, ../sass/_app-content.scss */
.content-app {
  /*background-color:#f0f4fb;*/
  padding: 2em 0;
}
/* line 8, ../sass/_app-content.scss */
.content-app h5 {
  font-weight: 600;
  color: #455a64;
}

/* Account */
/* line 15, ../sass/_app-content.scss */
.user-bloc-title {
  margin-bottom: 2em;
}
/* line 17, ../sass/_app-content.scss */
.user-bloc-title h3 {
  font-size: 1.1em;
  margin: 0 0 0.2em 0;
  font-weight: 600;
  color: #37474f;
}
/* line 23, ../sass/_app-content.scss */
.user-bloc-title .user-icon {
  margin-right: 0.5em;
}
/* line 26, ../sass/_app-content.scss */
.user-bloc-title .user-subtitle {
  font-style: italic;
}

/* line 31, ../sass/_app-content.scss */
.user-bloc-content .icon-bloc {
  background-color: #e0e0e0;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-right: 0.5em;
  vertical-align: middle;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 40, ../sass/_app-content.scss */
.user-bloc-content .icon-bloc i {
  font-size: 1.2em;
  color: #ffffff;
  vertical-align: middle;
  padding: 0.4em 0;
}
/* line 47, ../sass/_app-content.scss */
.user-bloc-content .listing p {
  margin: 2em 0;
}

/* Home */
/* line 52, ../sass/_app-content.scss */
.home {
  color: #ffffff;
}
/* line 54, ../sass/_app-content.scss */
.home h1 {
  font-size: 2.5em;
  margin: 2.8rem 0 0.5rem 0;
}
/* line 58, ../sass/_app-content.scss */
.home span {
  font-size: 1.3em;
}

/* Padding card */
/* line 2, ../sass/_card-custom.scss */
h1.title-card, .card-content, .card-action {
  padding: 1em;
}

/* line 5, ../sass/_card-custom.scss */
.card-custom {
  background-color: #ffffff;
  margin-bottom: 1.5em;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
/* line 10, ../sass/_card-custom.scss */
.card-custom h1.title-card {
  font-style: normal;
  font-size: 1.3em;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
}
/* line 16, ../sass/_card-custom.scss */
.card-custom h2 {
  font-size: 1.5em;
  margin: 0.3em 0;
  padding: 0;
}
/* line 21, ../sass/_card-custom.scss */
.card-custom .small-txt-h2 {
  color: #aeaeae;
  display: block;
  padding-bottom: 0.8em;
}
/* line 26, ../sass/_card-custom.scss */
.card-custom .card-footer {
  background-color: #f8f8f8;
  padding: 0.5em 1em;
}

/* line 33, ../sass/_card-custom.scss */
.about_intervention ul li {
  background-color: #f8f8f8;
  padding: 0.2em 0.8em;
  margin: 0.5em 0;
  color: #aaa;
  list-style: none;
}
/* line 40, ../sass/_card-custom.scss */
.about_intervention ul li:last-child {
  background-color: #e4f5f3;
}

/* line 46, ../sass/_card-custom.scss */
.card-action.bordertop {
  border-top: 1px solid #e8e8e8;
}

/* line 51, ../sass/_card-custom.scss */
.spanlistAndicons span {
  display: block;
}
/* line 53, ../sass/_card-custom.scss */
.spanlistAndicons span i {
  font-size: 1.2em;
  margin-right: 0.5em;
}

/* line 1, ../sass/_blocscolumn.scss */
.bloc-column {
  margin-bottom: 1.2em;
}
/* line 3, ../sass/_blocscolumn.scss */
.bloc-column .d-block a {
  display: block;
}

/* line 1, ../sass/_bloc.scss */
.bloc {
  padding: 1em;
  position: relative;
  color: #666666;
  font-weight: 300;
}
/* line 2, ../sass/_bloc.scss */
.bloc.bloc-default {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
/* line 3, ../sass/_bloc.scss */
.bloc.inworkshop {
  color: #ffffff;
  border: 1px solid transparent;
}
/* line 5, ../sass/_bloc.scss */
.bloc.inworkshop h2 {
  color: #ffffff;
  border-bottom: 1px solid #01B4B5;
}
/* line 9, ../sass/_bloc.scss */
.bloc.inworkshop .icon-work {
  position: absolute;
  display: block;
  top: 0.5em;
  right: 0.5em;
}
/* line 14, ../sass/_bloc.scss */
.bloc.inworkshop .icon-work i {
  font-size: 1em;
}
/* line 21, ../sass/_bloc.scss */
.bloc h2 {
  font-size: 1em;
  color: #000000;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 600;
}
/* line 31, ../sass/_bloc.scss */
.bloc span {
  display: block;
}
/* line 33, ../sass/_bloc.scss */
.bloc span i {
  font-size: 1.2em;
}

/* line 38, ../sass/_bloc.scss */
.bloc-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

/* line 1, ../sass/_steps.scss */
.steps {
  margin-bottom: 1.5em;
  overflow: hidden;
}

/* line 5, ../sass/_steps.scss */
.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}

/* line 10, ../sass/_steps.scss */
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 0.9em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #cccaca;
}

/* line 20, ../sass/_steps.scss */
.progressbar li span {
  width: 50px;
  height: 50px;
  content: counter(step);
  counter-increment: step;
  line-height: 43px;
  border: 2px solid #cccaca;
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

/* line 34, ../sass/_steps.scss */
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #cccaca;
  top: 25px;
  left: -50%;
  z-index: -1;
}

/* line 44, ../sass/_steps.scss */
.progressbar li:first-child:after {
  content: none;
}

/* line 48, ../sass/_steps.scss */
.progressbar li.active span {
  color: white;
}

/* line 1, ../sass/_tabs.scss */
ul#tabs {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.56em 0;
}

/* line 7, ../sass/_tabs.scss */
ul#tabs li {
  display: inline;
}

/* line 11, ../sass/_tabs.scss */
ul#tabs li a {
  color: #42454a;
  background-color: #e0e0e0;
  border-bottom: none;
  padding: 0.7em 1em;
  text-decoration: none;
}

/* line 19, ../sass/_tabs.scss */
ul#tabs li a:hover {
  background-color: white;
}

/* line 23, ../sass/_tabs.scss */
ul#tabs li a.selected {
  color: #3b4351;
  background-color: white;
  font-weight: 600;
  padding: 0.7em 1em;
}

/* line 30, ../sass/_tabs.scss */
div.tabContent {
  padding: 1em;
  background-color: white;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}
/* line 35, ../sass/_tabs.scss */
div.tabContent h4 {
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0.5em 0;
}

/* line 44, ../sass/_tabs.scss */
div.tabContent.hide {
  display: none;
}

/* line 1, ../sass/_alert.scss */
.alert {
  margin-bottom: 1em;
  padding: 0.9em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 6, ../sass/_alert.scss */
.alert-info {
  background-color: #BDE5F8;
  color: #00529B;
}

/* line 10, ../sass/_alert.scss */
.alert-danger {
  background-color: #FFBABA;
  color: #D8000C;
}

/* line 14, ../sass/_alert.scss */
.alert-warning {
  background-color: #FEEFB3;
  color: #9F6000;
}

/* line 18, ../sass/_alert.scss */
.alert-success {
  background-color: #DFF2BF;
  color: #4F8A10;
}

/* line 1, ../sass/_form.scss */
button {
  border: none;
}

/* line 4, ../sass/_form.scss */
.form-group {
  margin-bottom: 1em;
}
/* line 6, ../sass/_form.scss */
.form-group label {
  display: block;
  font-size: 1em;
  color: #333333;
  margin-bottom: 0.3em;
}
/* line 7, ../sass/_form.scss */
.form-group input[type=text], .form-group input[type=number], .form-group input[type=password], .form-group input[type=email], .form-group select {
  border: 1px solid #e8e8e8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-indent: 1em;
  font-size: inherit;
  height: 2.5em;
}

/* line 1, ../sass/_button.scss */
.button {
  color: white !important;
  padding: 0.5em 0.8em;
  -moz-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  border-radius: 0.1rem;
}
/* line 5, ../sass/_button.scss */
.button:hover {
  opacity: 0.9;
  background-color: initial;
  text-decoration: none;
}
/* line 10, ../sass/_button.scss */
.button.secondary:hover {
  background-color: #cdcdcd;
}
/* line 13, ../sass/_button.scss */
.button.disabled {
  pointer-events: none;
  background-color: #DFDFDF;
  color: #9F9F9F;
  cursor: default;
}

/* line 20, ../sass/_button.scss */
.btn-big {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: 500;
  font-size: 1em;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 30, ../sass/_button.scss */
.btn-big:hover {
  opacity: 0.9;
}

/* line 34, ../sass/_button.scss */
.btn-small {
  padding: 0 0.8em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 32.4px;
  transition: background-color .2s ease-out;
  line-height: 32.4px;
  text-align: center;
  letter-spacing: .5px;
}
/* line 43, ../sass/_button.scss */
.btn-small:hover {
  opacity: 0.9;
  background-color: initial;
  text-decoration: none;
}
/* line 48, ../sass/_button.scss */
.btn-small.primary, .btn-small.secondary {
  color: #ffffff;
}
/* line 51, ../sass/_button.scss */
.btn-small.secondary:hover {
  background-color: #cdcdcd;
}
/* line 54, ../sass/_button.scss */
.btn-small.disabled {
  pointer-events: none;
  background-color: #DFDFDF;
  color: #9F9F9F;
  cursor: default;
}

/* line 61, ../sass/_button.scss */
button {
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* line 67, ../sass/_button.scss */
.btn-custom {
  padding: 0.5em 1em;
  font-weight: 500;
}
/* line 70, ../sass/_button.scss */
.btn-custom:hover {
  opacity: 0.9;
}

/* line 74, ../sass/_button.scss */
.btn-custom-small {
  padding: 0.2em 0.5em !important;
  text-transform: none;
  font-size: 0.9em;
}

/* line 79, ../sass/_button.scss */
.btn-custom-table {
  padding: 0.2em 0.5em;
}

/* line 83, ../sass/_button.scss */
.btn.shadow, .button.shadow {
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
/* line 86, ../sass/_button.scss */
.btn.btn-primary, .button.btn-primary {
  color: #ffffff;
  border-color: transparent;
}
/* line 89, ../sass/_button.scss */
.btn.btn-primary:hover, .button.btn-primary:hover {
  background-color: #cdcdcd;
  border-color: transparent;
}
/* line 94, ../sass/_button.scss */
.btn.btn-secondary, .button.btn-secondary {
  border-color: transparent;
  background-color: #cdcdcd;
  color: #ffffff;
}
/* line 99, ../sass/_button.scss */
.btn.btn-danger, .button.btn-danger {
  border-color: transparent;
  background-color: #c0392b;
  color: #ffffff;
}
/* line 104, ../sass/_button.scss */
.btn.btn-warning, .button.btn-warning {
  border-color: transparent;
  background-color: #fa983a;
  color: #ffffff;
}

/* line 1, ../sass/_search.scss */
body.search-layout {
  font-weight: 400;
}
/* line 3, ../sass/_search.scss */
body.search-layout .footer-search {
  color: #ffffff;
  margin-top: 4em;
}
/* line 6, ../sass/_search.scss */
body.search-layout .footer-search a {
  color: #bfe6e1;
}
/* line 9, ../sass/_search.scss */
body.search-layout .footer-search ul {
  margin: 0;
  padding: 0;
}
/* line 12, ../sass/_search.scss */
body.search-layout .footer-search ul li {
  display: inline-block;
}
/* line 14, ../sass/_search.scss */
body.search-layout .footer-search ul li:after {
  content: '|';
  padding: 0 0.3em;
}
/* line 19, ../sass/_search.scss */
body.search-layout .footer-search ul li:last-child:after {
  content: '';
  padding: 0;
}

/* line 29, ../sass/_search.scss */
.search form .title-search-form {
  font-size: 1.5em;
  margin: 2rem 0 0.4rem 0;
}
/* line 33, ../sass/_search.scss */
.search p {
  margin: 1em 0;
}
/* line 36, ../sass/_search.scss */
.search .title-search {
  font-weight: 700;
  font-size: 2.2em;
  margin: 2.8rem 0 1.68rem 0;
}
/* line 40, ../sass/_search.scss */
.search .title-search img {
  vertical-align: middle;
  width: 60px;
  margin-right: 0.3em;
}
/* line 46, ../sass/_search.scss */
.search .title-border {
  border-bottom: 2px solid transparent;
  width: 30px;
}
/* line 50, ../sass/_search.scss */
.search figure {
  margin: 0;
}
/* line 52, ../sass/_search.scss */
.search figure img {
  width: 100%;
}
/* line 56, ../sass/_search.scss */
.search .btn {
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  padding: 0 16px;
  text-transform: uppercase;
}

/* line 1, ../sass/_footer.scss */
footer.page-footer {
  overflow: hidden;
  line-height: 50px;
}
/* line 5, ../sass/_footer.scss */
footer.page-footer .footer-copyright {
  color: #ffffff !important;
}
/* line 7, ../sass/_footer.scss */
footer.page-footer .footer-copyright a {
  color: #ffffff;
}

/* line 1, ../sass/_errors.scss */
body.layout-error {
  margin-top: 10em;
  color: #cdcdcd;
}
/* line 4, ../sass/_errors.scss */
body.layout-error h1 {
  text-transform: uppercase;
  font-weight: 600;
}
/* line 8, ../sass/_errors.scss */
body.layout-error span {
  font-size: 1.2em;
}

@media screen and (min-width: 200px) and (max-width: 940px) {
  /* line 7, ../sass/_mediaquery.scss */
  .navbar .navbar-section.navbar-link {
    display: none;
  }

  /* line 13, ../sass/_mediaquery.scss */
  nav .brand-logo {
    font-size: 1.5em;
  }

  /* line 17, ../sass/_mediaquery.scss */
  .search-box .p5, .search-box .pl5 {
    padding: 1em !important;
  }
  /* line 20, ../sass/_mediaquery.scss */
  .search-box .title-search {
    text-align: center;
  }
  /* line 21, ../sass/_mediaquery.scss */
  .search-box.card-custom {
    width: 100% !important;
    margin: 0 !important;
  }
  /* line 25, ../sass/_mediaquery.scss */
  .search-box .search-text, .search-box figure {
    display: none;
  }
  /* line 26, ../sass/_mediaquery.scss */
  .search-box .title-search-form {
    margin: 1rem 0 0.4rem 0 !important;
  }
  /* line 27, ../sass/_mediaquery.scss */
  .search-box .rborder {
    border: none;
  }

  /* line 29, ../sass/_mediaquery.scss */
  .footer-search {
    margin-top: 2em !important;
  }

  /** Tabs **/
  /* line 32, ../sass/_mediaquery.scss */
  .tabs-pe ul#tabs {
    padding: 0;
  }
  /* line 34, ../sass/_mediaquery.scss */
  .tabs-pe ul#tabs li {
    display: block;
    margin-top: 0;
  }
  /* line 37, ../sass/_mediaquery.scss */
  .tabs-pe ul#tabs li a {
    display: inline-block;
  }
}
