@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/roboto/Roboto-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../fonts/roboto/Roboto-Black.ttf");
  font-display: swap;
}
/* line 6, ../sass/layout.scss */
body {
  font-size: 14px;
  font-family: "RobotoRegular", sans-serif;
}

/* line 1, ../sass/_container.scss */
#wrapper {
  margin-right: 0;
  overflow: hidden;
  width: 100%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 1200px) {
  /* line 9, ../sass/_container.scss */
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1024px) {
  /* line 15, ../sass/_container.scss */
  .container {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
  }
}
/* margin */
/* line 2, ../sass/_base.scss */
.mg0 {
  margin: 0;
}

/* line 3, ../sass/_base.scss */
.mg-tb-05 {
  margin: 0.5em 0;
}

/* line 4, ../sass/_base.scss */
.mg-tb-1 {
  margin: 1em 0;
}

/* line 5, ../sass/_base.scss */
.mg-tb-1r {
  margin: 1rem 0;
}

/* line 6, ../sass/_base.scss */
.mg-tb-2 {
  margin: 2em 0;
}

/* line 7, ../sass/_base.scss */
.mg-tb-3 {
  margin: 3em 0;
}

/* line 8, ../sass/_base.scss */
.mg-tb-4 {
  margin: 4em 0;
}

/* line 9, ../sass/_base.scss */
.mg-tb-5 {
  margin: 5em 0;
}

/* line 10, ../sass/_base.scss */
.mg-b-1 {
  margin-bottom: 1em;
}

/* line 11, ../sass/_base.scss */
.mg-b-2 {
  margin-bottom: 2em;
}

/* line 12, ../sass/_base.scss */
.mg-b-3 {
  margin-bottom: 3em;
}

/* padding */
/* line 14, ../sass/_base.scss */
.pd-tb-1 {
  padding: 1em 0;
}

/* line 15, ../sass/_base.scss */
.pd-tb-2 {
  padding: 2em 0;
}

/* line 16, ../sass/_base.scss */
.pd-tb-3 {
  padding: 3em 0;
}

/* line 17, ../sass/_base.scss */
.pd-tb-4 {
  padding: 4em 0;
}

/* line 18, ../sass/_base.scss */
.pd-tb-5 {
  padding: 5em 0;
}

/* font style */
/* line 21, ../sass/_base.scss */
strong {
  font-weight: normal;
  font-family: "RobotoBold", sans-serif;
}

/* font colors */
/* line 26, ../sass/_base.scss */
.txtprimary {
  color: #008c7b;
}

/* links */
/* line 28, ../sass/_base.scss */
a, a:link, a:visited {
  color: #008c7b;
}

/* line 32, ../sass/_base.scss */
.list-table ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* DataTable */
/* line 42, ../sass/_base.scss */
.dataTable-selector {
  border: 0;
}

/* line 45, ../sass/_base.scss */
#parent {
  cursor: pointer;
}

/* line 48, ../sass/_base.scss */
.style-switcher {
  display: inline-block;
}
/* line 50, ../sass/_base.scss */
.style-switcher ul {
  margin: 0 1em 0 0;
  padding: 0;
  display: inline-block;
}
/* line 52, ../sass/_base.scss */
.style-switcher ul li {
  display: inline-block;
  margin-right: 0.2em;
  margin-top: 0;
}
/* line 56, ../sass/_base.scss */
.style-switcher ul li a {
  display: inline-block;
}
/* line 58, ../sass/_base.scss */
.style-switcher ul li a span {
  display: block;
  height: 10px;
  width: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 65, ../sass/_base.scss */
.style-switcher ul li a.style--default span {
  background-color: #ffffff;
}
/* line 68, ../sass/_base.scss */
.style-switcher ul li a.style--dark span {
  background-color: #2c3e50;
}

/* Ribbon */
/* line 75, ../sass/_base.scss */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
/* line 84, ../sass/_base.scss */
.ribbon.ribbon--right {
  right: -5px;
}
/* line 86, ../sass/_base.scss */
.ribbon.ribbon--right span {
  right: -21px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* line 92, ../sass/_base.scss */
.ribbon.ribbon--left {
  left: -5px;
}
/* line 94, ../sass/_base.scss */
.ribbon.ribbon--left span {
  left: -21px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
/* line 100, ../sass/_base.scss */
.ribbon span {
  font-size: 10px;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #000;
  background: #008c7b;
  box-shadow: 0 3px 10px -5px black;
  position: absolute;
  top: 19px;
  right: -21px;
}
/* line 117, ../sass/_base.scss */
.ribbon span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
/* line 126, ../sass/_base.scss */
.ribbon span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
/* line 137, ../sass/_base.scss */
.ribbon.ribbon--primary span {
  background: #008c7b;
}
/* line 139, ../sass/_base.scss */
.ribbon.ribbon--primary span:before {
  border-left: 3px solid #016055;
  border-top: 3px solid #016055;
}
/* line 143, ../sass/_base.scss */
.ribbon.ribbon--primary span:after {
  border-right: 3px solid #016055;
  border-top: 3px solid #016055;
}

/* line 150, ../sass/_base.scss */
.modal.modal-sm .modal-container, .modal .modal-container {
  padding: 0;
}

/* line 1, ../sass/_notifications.scss */
.notification--fixed {
  display: block;
  position: fixed !important;
  right: 2em;
  top: 2em;
  z-index: 9999;
}

/* line 1, ../sass/_alert.scss */
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 7, ../sass/_alert.scss */
.alert span {
  display: inline-block;
  font-size: 1.3em;
  margin-right: 0.5em;
}
/* line 11, ../sass/_alert.scss */
.alert span i {
  vertical-align: middle;
}
/* line 15, ../sass/_alert.scss */
.alert.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
/* line 21, ../sass/_alert.scss */
.alert.alert-success {
  color: #1c9806;
  background-color: #f2fef0;
  border-color: #23bf08;
}
/* line 26, ../sass/_alert.scss */
.alert.alert-warning {
  color: #c47709;
  background-color: #fce6c6;
  border-color: #f49917;
}
/* line 31, ../sass/_alert.scss */
.alert.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* line 1, ../sass/_button.scss */
button.btn-table {
  border: 0;
}

/* line 4, ../sass/_button.scss */
.btn, .btn-table {
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

/* line 7, ../sass/_button.scss */
.btn-table {
  padding: 0.1em 0.5em;
  display: inline-block;
}
/* line 10, ../sass/_button.scss */
.btn-table.btn-danger {
  background-color: #dd5a5a;
  color: white;
}
/* line 14, ../sass/_button.scss */
.btn-table.btn-info {
  background-color: #5abedd;
  color: white;
}

/* line 20, ../sass/_button.scss */
.btn {
  padding: 0.5em 1em;
  height: inherit;
}

/* line 24, ../sass/_button.scss */
.btn-sm {
  padding: 0.3em 0.5em;
  height: inherit;
  font-size: 1em;
}

/* line 30, ../sass/_button.scss */
.btn, .btn-sm {
  border: 0;
  font-family: "RobotoMedium", sans-serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 34, ../sass/_button.scss */
.btn:hover, .btn-sm:hover {
  opacity: 0.8;
}
/* line 37, ../sass/_button.scss */
.btn.btn-primary, .btn-sm.btn-primary {
  color: white;
}
/* line 40, ../sass/_button.scss */
.btn.btn-danger, .btn-sm.btn-danger {
  background-color: #dd5a5a;
  color: white;
}
/* line 44, ../sass/_button.scss */
.btn.btn-info, .btn-sm.btn-info {
  background-color: #5abedd;
  color: white;
}
/* line 48, ../sass/_button.scss */
.btn.btn-warning, .btn-sm.btn-warning {
  background-color: #e68027;
  color: white;
}
/* line 52, ../sass/_button.scss */
.btn.btn-secondary, .btn-sm.btn-secondary {
  color: white;
}
/* line 55, ../sass/_button.scss */
.btn.btn-default, .btn-sm.btn-default {
  background-color: #cdcdcd;
  color: white;
}
/* line 59, ../sass/_button.scss */
.btn.btn-white, .btn-sm.btn-white {
  background-color: white;
  color: #008c7b;
}

/* line 66, ../sass/_button.scss */
.button-inline a, .button-inline button {
  display: inline-block;
}

/** Intervention float button */
/* line 72, ../sass/_button.scss */
.inter-button-float {
  display: none;
  position: fixed;
  top: 40%;
  right: 8em;
  background-color: white;
  width: 250px;
}
/* line 79, ../sass/_button.scss */
.inter-button-float .bf-content {
  padding: 1.5em;
}
/* line 82, ../sass/_button.scss */
.inter-button-float a, .inter-button-float button {
  width: 100%;
  margin-bottom: 0.4em;
}

@media (min-width: 1800px) {
  /* line 89, ../sass/_button.scss */
  .inter-button-float {
    display: block;
  }

  /* line 92, ../sass/_button.scss */
  .button-inline {
    display: none;
  }
}
/* line 2, ../sass/_main.scss */
.main-stats .stats-card {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 8, ../sass/_main.scss */
.main-stats .stats-card:hover {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
}
/* line 14, ../sass/_main.scss */
.main-stats .stats-card .stats-title h2 {
  font-size: 1.4em;
  margin: 0;
  font-family: RobotoBold, sans-serif;
}
/* line 15, ../sass/_main.scss */
.main-stats .stats-card .stats-title p {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}
/* line 17, ../sass/_main.scss */
.main-stats .stats-card .stats-icon {
  font-size: 3.5em;
}

/* line 23, ../sass/_main.scss */
.thumbnail {
  padding: 1em;
  position: relative;
  text-align: center;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 29, ../sass/_main.scss */
.thumbnail .thumbnail__title {
  display: flex;
  justify-content: space-between;
}
/* line 32, ../sass/_main.scss */
.thumbnail .thumbnail__title span.t__name {
  font-family: RobotoBold, sans-serif;
}
/* line 37, ../sass/_main.scss */
.thumbnail .thumbnail__content {
  text-align: center;
  margin-top: 1em;
}
/* line 40, ../sass/_main.scss */
.thumbnail .thumbnail__content img.thumbnail-logo {
  width: 80px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 45, ../sass/_main.scss */
.thumbnail span.delete-icon {
  position: absolute;
  display: block;
  right: 1em;
  z-index: 3;
  cursor: pointer;
}
/* line 51, ../sass/_main.scss */
.thumbnail span.delete-icon a {
  color: #dd5a5a;
}

@media (max-width: 920px) {
  /* line 60, ../sass/_main.scss */
  .main-stats .stats-card {
    margin-bottom: 1em;
  }
}
/* line 1, ../sass/_aside.scss */
aside.form-aside {
  position: fixed;
  right: 0;
  width: 250px;
  top: 0;
  padding: 1em;
  bottom: 0;
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}
/* line 9, ../sass/_aside.scss */
aside.form-aside h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "RobotoMedium", sans-serif;
  margin-bottom: 2em;
}
/* line 15, ../sass/_aside.scss */
aside.form-aside button, aside.form-aside a {
  display: block;
  margin-bottom: 0.3em;
  width: 100%;
}

@media (max-width: 1600px) {
  /* line 23, ../sass/_aside.scss */
  aside.form-aside {
    display: none;
  }
}
/* line 1, ../sass/_label.scss */
.label {
  color: white;
  background-color: #d5d5d5;
  font-size: 0.9em;
  font-family: RobotoMedium, sans-serif;
}
/* line 6, ../sass/_label.scss */
.label.label-info {
  background-color: #5bb2fc;
}
/* line 9, ../sass/_label.scss */
.label.label-success {
  background-color: #58ebd3;
}
/* line 12, ../sass/_label.scss */
.label.label-warning {
  background-color: #ffa659;
}
/* line 15, ../sass/_label.scss */
.label.label-danger {
  background-color: #ff7a85;
}
/* line 18, ../sass/_label.scss */
.label.label-circle {
  height: 15px;
  width: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 23, ../sass/_label.scss */
.label.label-circle-small {
  height: 10px;
  width: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 2, ../sass/_navbar.scss */
.main-menu ul.nav-tabs {
  margin: 0;
  padding: 0;
}
/* line 4, ../sass/_navbar.scss */
.main-menu ul.nav-tabs li {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  font-size: 15px;
}
/* line 9, ../sass/_navbar.scss */
.main-menu ul.nav-tabs li a {
  padding: 15px 25px;
  display: block;
}
/* line 12, ../sass/_navbar.scss */
.main-menu ul.nav-tabs li a i {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 0.5em;
}
/* line 17, ../sass/_navbar.scss */
.main-menu ul.nav-tabs li a:hover {
  text-decoration: none;
}
/* line 21, ../sass/_navbar.scss */
.main-menu ul.nav-tabs li.adm_user {
  display: none;
}
/* line 23, ../sass/_navbar.scss */
.main-menu ul.nav-tabs li.adm_user.active {
  display: inline-block !important;
}
/* line 30, ../sass/_navbar.scss */
.main-menu .tab-content .tab-pane {
  display: none;
}
/* line 32, ../sass/_navbar.scss */
.main-menu .tab-content .tab-pane ul.main-menu-dropdown {
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/_navbar.scss */
.main-menu .tab-content .tab-pane ul.main-menu-dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
/* line 38, ../sass/_navbar.scss */
.main-menu .tab-content .tab-pane ul.main-menu-dropdown li a {
  padding: 20px 20px;
  display: block;
  font-size: 14px;
}
/* line 45, ../sass/_navbar.scss */
.main-menu .tab-content .tab-pane.active {
  display: block;
}

/**
Mobile nav 
**/
/* line 55, ../sass/_navbar.scss */
.main-menu-navigation {
  display: none;
}

/* line 58, ../sass/_navbar.scss */
.navbar-navigation {
  display: none;
  padding: 0.8em;
  text-align: right;
  font-family: RobotoBold, sans-serif;
  text-transform: uppercase;
}
/* line 64, ../sass/_navbar.scss */
.navbar-navigation span {
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 68, ../sass/_navbar.scss */
.navbar-navigation i {
  font-size: 1.5em;
  vertical-align: middle;
}

@media (max-width: 920px) {
  /* line 76, ../sass/_navbar.scss */
  .main-menu {
    display: none;
  }

  /* line 79, ../sass/_navbar.scss */
  .navbar-navigation, .main-menu-navigation {
    display: block;
  }
}
/* line 2, ../sass/_header.scss */
.header-top .header-top-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3em;
}
/* line 7, ../sass/_header.scss */
.header-top .header-top-logo .pe--logo {
  height: 50px;
  padding: 0.5em 0;
  margin-right: 0.5em;
}
/* line 11, ../sass/_header.scss */
.header-top .header-top-logo .pe--logo img {
  height: 100%;
}
/* line 15, ../sass/_header.scss */
.header-top .header-top-menu ul.navbar-custom {
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 18, ../sass/_header.scss */
.header-top .header-top-menu ul.navbar-custom li {
  list-style: none;
  color: white;
  display: inline-block;
  font-size: 1.4em;
  margin-top: 0;
}
/* line 24, ../sass/_header.scss */
.header-top .header-top-menu ul.navbar-custom li a {
  color: white;
  margin-left: 1.3em;
}
/* line 27, ../sass/_header.scss */
.header-top .header-top-menu ul.navbar-custom li a span {
  font-size: 14px;
}
/* line 34, ../sass/_header.scss */
.header-top .header-top-menu.s--switcher {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
/* line 40, ../sass/_header.scss */
.header-top .header-top-menu .style-switcher {
  color: #ffffff;
}

/* line 1, ../sass/_breadcrumb.scss */
.breadcrumb {
  margin: 0;
  padding: 0;
  line-height: 3;
  transition: all 300ms ease;
}
/* line 6, ../sass/_breadcrumb.scss */
.breadcrumb ul.breadcrumbs {
  margin: 0;
}
/* line 8, ../sass/_breadcrumb.scss */
.breadcrumb ul.breadcrumbs .divider {
  display: none;
}
/* line 9, ../sass/_breadcrumb.scss */
.breadcrumb ul.breadcrumbs li {
  margin-top: 0;
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
}
/* line 14, ../sass/_breadcrumb.scss */
.breadcrumb ul.breadcrumbs li a {
  display: inline-block;
  margin-right: 0.5em;
  color: white;
}
/* line 19, ../sass/_breadcrumb.scss */
.breadcrumb ul.breadcrumbs li:after {
  content: "\002B26";
  display: inline-block;
  margin-right: 0.5em;
}
/* line 25, ../sass/_breadcrumb.scss */
.breadcrumb ul.breadcrumbs li:last-child:after {
  display: none;
}
/* line 31, ../sass/_breadcrumb.scss */
.breadcrumb.fade-in {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  opacity: 0.9;
}

/* line 1, ../sass/_card.scss */
.card-login {
  width: 55vh;
  margin: 0 auto;
  position: relative;
  top: 10vh;
}
/* line 6, ../sass/_card.scss */
.card-login label {
  font-family: RobotoBold, sans-serif;
  display: inline-block !important;
  padding: 0 0.5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 13, ../sass/_card.scss */
.card-0 {
  margin-bottom: 20px;
  background-color: white;
}
/* line 16, ../sass/_card.scss */
.card-0 .card-header, .card-0 .card-body, .card-0 .card-footer {
  padding: 1.5em;
}
/* line 19, ../sass/_card.scss */
.card-0 .card-header {
  background-color: #008c7b;
  color: white;
}
/* line 22, ../sass/_card.scss */
.card-0 .card-header h2 {
  font-size: 1.4em;
  margin-bottom: 0;
  font-family: RobotoBold, sans-serif;
}

/* line 27, ../sass/_card.scss */
.card-custom {
  padding: 1.5em;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
/* line 30, ../sass/_card.scss */
.card-custom .card-header {
  margin-bottom: 20px;
}
/* line 32, ../sass/_card.scss */
.card-custom .card-header h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  font-family: RobotoBold, sans-serif;
}
/* line 34, ../sass/_card.scss */
.card-custom .card-footer {
  padding: 1em;
  margin-top: 0.8em;
}

@media (max-width: 920px) {
  /* line 42, ../sass/_card.scss */
  .card-login {
    width: 100%;
  }

  /* line 45, ../sass/_card.scss */
  .card-custom {
    margin-bottom: 1em;
  }
}
/* line 1, ../sass/_toggle.scss */
[data-js-expanded] {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s ease, max-height 1s ease, opacity 1s ease;
  transition-delay: 1s, 0s, 0s;
}

/* line 10, ../sass/_toggle.scss */
[data-js-expanded].is-open {
  overflow: hidden;
  opacity: 1;
  max-height: 999em;
  visibility: visible;
  transition-delay: 0s;
}

/* line 2, ../sass/_forms.scss */
form .form-input, form .form-select {
  border-bottom: 1px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
/* line 8, ../sass/_forms.scss */
form .form-select:not([multiple]):not([size]) {
  border-bottom: 1px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

/* line 17, ../sass/_forms.scss */
.form .small-title-form p {
  margin: 2.5em 0;
}

/* line 24, ../sass/_forms.scss */
.title-form h2 {
  font-size: 1.1em;
  font-family: RobotoBold, sans-serif;
  font-weight: normal;
  margin-bottom: 1.2em;
}

/* line 31, ../sass/_forms.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 35, ../sass/_forms.scss */
.form-border input[type="text"], .form-border input[type="email"], .form-border textarea, .form-border input[type="number"], .form-border input[type="password"] {
  border-bottom: 1px solid transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  font-family: "RobotoRegular", sans-serif;
}
/* line 43, ../sass/_forms.scss */
.form-border .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.42857143;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* line 51, ../sass/_forms.scss */
.form-border .form-control.input-lg {
  height: 46px;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.3333333;
}
/* line 57, ../sass/_forms.scss */
.form-border .form-control.input-sm {
  height: 30px;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.5;
}

/* line 68, ../sass/_forms.scss */
.form-default input[type="text"], .form-default input[type="email"], .form-default textarea, .form-default input[type="number"], .form-default input[type="password"] {
  box-shadow: none;
  padding: 6px;
  resize: none;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
/* line 78, ../sass/_forms.scss */
.form-default .form-group {
  margin-bottom: 15px;
}
/* line 80, ../sass/_forms.scss */
.form-default .form-group label {
  margin-bottom: 0.7em;
  display: block;
}
/* line 81, ../sass/_forms.scss */
.form-default .form-group label.label-select {
  font-size: 1.1em;
  font-family: RobotoBold, sans-serif;
  font-weight: normal;
  margin-bottom: 0.6em;
}
/* line 87, ../sass/_forms.scss */
.form-default .form-group.ic-comp {
  position: relative;
  display: flex;
  align-items: center;
  border-collapse: separate;
}
/* line 92, ../sass/_forms.scss */
.form-default .form-group.ic-comp .form-ic-comp {
  padding: 0px 12px;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0;
}
/* line 98, ../sass/_forms.scss */
.form-default .form-group.ic-comp .form-ic-comp i {
  font-size: 1.2em;
}
/* line 102, ../sass/_forms.scss */
.form-default .form-group.ic-comp .input-st {
  display: inline-block;
  width: 100%;
}
/* line 107, ../sass/_forms.scss */
.form-default .form-group .form-control[disabled] {
  background-color: white;
  opacity: 1;
  cursor: not-allowed;
}
/* line 112, ../sass/_forms.scss */
.form-default .form-group textarea.autoexpand {
  min-height: 5em;
  max-height: 50vh;
  width: 100%;
}
/* line 117, ../sass/_forms.scss */
.form-default .form-group .CodeMirror, .form-default .form-group .CodeMirror-scroll {
  min-height: 5em;
  height: auto;
}
/* line 123, ../sass/_forms.scss */
.form-default .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* line 132, ../sass/_forms.scss */
.form-default .form-control.input-lg {
  height: 46px;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.3333333;
}
/* line 138, ../sass/_forms.scss */
.form-default .form-control.input-sm {
  height: 30px;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.5;
}
/* line 146, ../sass/_forms.scss */
.form-default.no-label label {
  display: none;
}

/* line 149, ../sass/_forms.scss */
.switch {
  position: relative;
  margin: 20px 0;
  height: 26px;
  width: 120px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
}
/* line 157, ../sass/_forms.scss */
.switch label {
  display: block !important;
}

/* line 159, ../sass/_forms.scss */
.switch-inline {
  margin: 0;
}
/* line 161, ../sass/_forms.scss */
.switch-inline label {
  font-family: RobotoBold, sans-serif;
}

/* line 164, ../sass/_forms.scss */
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: #ffffff;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);*/
  cursor: pointer;
}

/* line 177, ../sass/_forms.scss */
.switch-label:active {
  font-weight: bold;
}

/* line 181, ../sass/_forms.scss */
.switch-label-off {
  padding-left: 2px;
}

/* line 185, ../sass/_forms.scss */
.switch-label-on {
  padding-right: 2px;
}

/* line 189, ../sass/_forms.scss */
.switch-input {
  display: none;
}

/* line 193, ../sass/_forms.scss */
.switch-input:checked + .switch-label {
  font-weight: bold;
  /*text-shadow: 0 1px rgba(0, 0, 0, 0.25);*/
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

/* line 202, ../sass/_forms.scss */
.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

/* line 207, ../sass/_forms.scss */
.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #ffffff;
  border-radius: 3px;
  /*background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);*/
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

/* line 229, ../sass/_forms.scss */
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}

/* line 237, ../sass/_forms.scss */
.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}

/* line 1, ../sass/pdf.scss */
body.pdf {
  background: red;
}

/* line 4, ../sass/pdf.scss */
.printpdf {
  background-color: red;
}

/* line 1, ../sass/_html.scss */
.pdf {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
/* line 2, ../sass/_html.scss */
.pdf .pb1 {
  padding-bottom: 1em;
}
/* line 3, ../sass/_html.scss */
.pdf .pb2 {
  padding-bottom: 2em;
}
/* line 4, ../sass/_html.scss */
.pdf .pb3 {
  padding-bottom: 3em;
}
/* line 5, ../sass/_html.scss */
.pdf .pt1 {
  padding-top: 1em;
}
/* line 6, ../sass/_html.scss */
.pdf .pr05 {
  padding-right: 0.5em;
}
/* line 7, ../sass/_html.scss */
.pdf .pr1 {
  padding-right: 1em;
}
/* line 8, ../sass/_html.scss */
.pdf .pl1 {
  padding-left: 1em;
}
/* line 9, ../sass/_html.scss */
.pdf .pl05 {
  padding-left: 0.5em;
}
/* line 10, ../sass/_html.scss */
.pdf .p0 {
  padding: 0 !important;
}
/* line 11, ../sass/_html.scss */
.pdf .p1 {
  padding: 1em;
}
/* line 12, ../sass/_html.scss */
.pdf .m0 {
  margin: 0;
}
/* line 13, ../sass/_html.scss */
.pdf .mt1 {
  margin-top: 1em;
}
/* line 14, ../sass/_html.scss */
.pdf .mb2 {
  margin-bottom: 2em;
}
/* line 15, ../sass/_html.scss */
.pdf .mb3 {
  margin-bottom: 3em;
}
/* line 18, ../sass/_html.scss */
.pdf strong {
  font-weight: 600;
}
/* line 19, ../sass/_html.scss */
.pdf * {
  padding: 0;
  margin: 0;
}
/* line 20, ../sass/_html.scss */
.pdf .d-inline {
  display: inline-block;
}
/* line 21, ../sass/_html.scss */
.pdf h3, .pdf h4, .pdf p {
  margin: 0;
  line-height: inherit;
}
/* line 25, ../sass/_html.scss */
.pdf h4 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
}
/* line 30, ../sass/_html.scss */
.pdf ul {
  margin: 0;
  padding: 0;
}
/* line 33, ../sass/_html.scss */
.pdf ul li {
  list-style: none;
  padding: 0 0.5em;
  line-height: 1.8;
}
/* line 38, ../sass/_html.scss */
.pdf .form-checkbox {
  padding: 0 .1rem 0 1rem;
  line-height: inherit;
  min-height: inherit;
}
/* line 42, ../sass/_html.scss */
.pdf .form-checkbox .form-icon {
  top: 0;
}
/* line 46, ../sass/_html.scss */
.pdf .form-group:not(:last-child) {
  margin-bottom: 0;
}
/* line 49, ../sass/_html.scss */
.pdf .txtcenter {
  text-align: center;
}
/* line 50, ../sass/_html.scss */
.pdf .txtright {
  text-align: right;
}
/* line 51, ../sass/_html.scss */
.pdf .txtuppercase {
  text-transform: uppercase;
}
/* line 55, ../sass/_html.scss */
.pdf #container {
  width: 1000px;
  margin: 0 auto;
}
/* line 60, ../sass/_html.scss */
.pdf .title-container {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
/* line 66, ../sass/_html.scss */
.pdf .companyname-adress {
  width: 85%;
}
/* line 69, ../sass/_html.scss */
.pdf .logo-company {
  display: inline;
  position: relative;
}
/* line 72, ../sass/_html.scss */
.pdf .logo-company .logo__container {
  position: relative;
  height: 100%;
}
/* line 75, ../sass/_html.scss */
.pdf .logo-company .logo__container > div {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 87, ../sass/_html.scss */
.pdf .logo-company .logo {
  height: 100%;
  padding: 0.5em 0;
  text-align: center;
}
/* line 91, ../sass/_html.scss */
.pdf .logo-company .logo img {
  max-width: 85%;
  min-width: 25%;
  max-height: 90px;
  display: inline-block;
}
/* line 99, ../sass/_html.scss */
.pdf .block {
  margin: 0;
}
/* line 102, ../sass/_html.scss */
.pdf .block h3 {
  font-size: inherit;
  font-weight: 600;
}
/* line 106, ../sass/_html.scss */
.pdf .block-title {
  line-height: 1.8em;
}
/* line 109, ../sass/_html.scss */
.pdf .block-title h3 {
  font-size: 1em;
  font-weight: 600;
}
/* line 113, ../sass/_html.scss */
.pdf .block-content {
  padding: 0 0.5em;
}
/* line 115, ../sass/_html.scss */
.pdf .block-content.tension {
  padding: 0;
}
/* line 117, ../sass/_html.scss */
.pdf .block-content.tension .border-bottom {
  border-bottom: 0;
}
/* line 118, ../sass/_html.scss */
.pdf .block-content.tension .border-left {
  border-left: 0;
}
/* line 119, ../sass/_html.scss */
.pdf .block-content.tension .border-right {
  border-right: 0;
}
/* line 122, ../sass/_html.scss */
.pdf .block-company-logo {
  margin: 0;
}
/* line 126, ../sass/_html.scss */
.pdf .bi--children h3.children-title {
  line-height: 1.5em;
}
/* line 130, ../sass/_html.scss */
.pdf .etiquette {
  position: absolute;
  z-index: 20;
  padding: 1em;
  top: 1.5em;
  bottom: 0;
  right: 0;
  line-height: 16;
  width: 40px;
}
/* line 140, ../sass/_html.scss */
.pdf .etiquette span {
  transform: rotate(-90deg);
  vertical-align: middle;
}
/* line 145, ../sass/_html.scss */
.pdf .checkbox {
  border-radius: 0;
  width: 0.8em;
  height: 0.8em;
  vertical-align: top;
}
/* line 151, ../sass/_html.scss */
.pdf .list-checkbox label, .pdf .block--inline label {
  font-size: 0.9em;
  margin-left: 0.5em;
  margin-bottom: 0;
}
/* line 156, ../sass/_html.scss */
.pdf footer {
  padding: 0.2em;
  font-weight: 400;
  font-size: 2.5em;
}

/* line 1, ../sass/_blocs.scss */
.recent-default-single {
  margin-bottom: 0.5em;
}
/* line 3, ../sass/_blocs.scss */
.recent-default-single.equipment-out {
  border: 1px solid red;
}
/* line 6, ../sass/_blocs.scss */
.recent-default-single a {
  padding: 0.5em;
  display: block;
  text-decoration: none;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 11, ../sass/_blocs.scss */
.recent-default-single a .recent-default-flex {
  display: flex;
  align-items: center;
}
/* line 14, ../sass/_blocs.scss */
.recent-default-single a .recent-default-flex .recent-d-img {
  font-size: 2.5em;
}
/* line 17, ../sass/_blocs.scss */
.recent-default-single a .recent-default-flex .recent-d-ctn {
  margin-left: 1em;
}
/* line 19, ../sass/_blocs.scss */
.recent-default-single a .recent-default-flex .recent-d-ctn h2 {
  font-size: 1.1em;
  font-family: RobotoBold, sans-serif;
  margin: 0;
}
/* line 24, ../sass/_blocs.scss */
.recent-default-single a .recent-default-flex .recent-d-ctn p {
  margin: 0;
}

/* line 31, ../sass/_blocs.scss */
.pdf_default {
  margin-top: 3em;
}
/* line 33, ../sass/_blocs.scss */
.pdf_default .title-container {
  padding: 0.3em;
  font-size: 1.4em;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 38, ../sass/_blocs.scss */
.pdf_default .title-container span {
  font-family: RobotoBold, sans-serif;
}
/* line 42, ../sass/_blocs.scss */
.pdf_default .form-checkbox {
  display: inline-block !important;
}
/* line 43, ../sass/_blocs.scss */
.pdf_default .bloc {
  border: 1px solid #dbdbdb;
  background-color: white;
  margin-bottom: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 48, ../sass/_blocs.scss */
.pdf_default .bloc.bloc-default {
  padding: 1em;
}
/* line 50, ../sass/_blocs.scss */
.pdf_default .bloc.bloc-default .form-group {
  margin: 0.8em 0;
}
/* line 54, ../sass/_blocs.scss */
.pdf_default .bloc .bloc-title {
  font-family: RobotoBold, sans-serif;
}
/* line 57, ../sass/_blocs.scss */
.pdf_default .bloc h3 {
  font-size: 1.1em;
  font-family: RobotoBold, sans-serif;
  margin-bottom: 2em;
}
/* line 58, ../sass/_blocs.scss */
.pdf_default .bloc ul {
  margin: 0;
}
/* line 60, ../sass/_blocs.scss */
.pdf_default .bloc ul li {
  list-style: none;
  margin: 0;
}
/* line 67, ../sass/_blocs.scss */
.pdf_default .bloc .list-checkbox ul li {
  height: 1.4rem;
  line-height: 1.2rem;
}
/* line 70, ../sass/_blocs.scss */
.pdf_default .bloc .list-checkbox ul li .form-checkbox {
  margin: 0;
}
/* line 75, ../sass/_blocs.scss */
.pdf_default .bloc ul.input-style li {
  height: 1.4rem;
  line-height: 1.2rem;
}
/* line 78, ../sass/_blocs.scss */
.pdf_default .bloc ul.input-style li .form-checkbox {
  margin: 0;
}
/* line 81, ../sass/_blocs.scss */
.pdf_default .bloc h3.children-title {
  background-color: #e8e8e8;
  line-height: 1.7em;
  padding: 0 1em;
  margin-bottom: 0.5em;
}
/* line 88, ../sass/_blocs.scss */
.pdf_default .bloc .bloc-content ul {
  margin-top: 0.5em;
}
/* line 92, ../sass/_blocs.scss */
.pdf_default .bloc .border-bottom {
  border-bottom: 1px solid #dbdbdb;
}
/* line 96, ../sass/_blocs.scss */
.pdf_default .bloc.bloc-end .left-bloc {
  background-color: #f9f9f9;
  padding: 1em;
}
/* line 101, ../sass/_blocs.scss */
.pdf_default .bloc.bloc-end .right-bloc h3 {
  background-color: #008c7b;
  color: white;
  line-height: 1.7em;
}

@media (max-width: 1100px) {
  /* line 110, ../sass/_blocs.scss */
  .column-bloc {
    margin-bottom: 1em;
  }
}

/* line 1, ../sass/_table.scss */
.table-custom {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
/* line 6, ../sass/_table.scss */
.table-custom tbody tr.clickable-row {
  cursor: pointer;
}
/* line 9, ../sass/_table.scss */
.table-custom th {
  padding: .6rem .4rem;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: RobotoBold, sans-serif;
}
/* line 15, ../sass/_table.scss */
.table-custom td, .table-custom th {
  border-bottom: .05rem solid transparent;
  padding: .6rem .4rem;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  /* line 25, ../sass/_table.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /* line 30, ../sass/_table.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 36, ../sass/_table.scss */
  tr {
    border: 1px solid transparent;
    margin-bottom: 0.5em;
  }

  /* line 41, ../sass/_table.scss */
  td, th {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid transparent;
    position: relative;
    padding-left: 50%;
  }

  /* line 49, ../sass/_table.scss */
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
/* line 1, ../sass/_tabs.scss */
ul#tabs, ul#tabs--link {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.56em 0;
}

/* line 7, ../sass/_tabs.scss */
ul#tabs li, ul#tabs--link li {
  display: inline;
}

/* line 11, ../sass/_tabs.scss */
ul#tabs li a, ul#tabs--link li a {
  color: #42454a;
  background-color: #e0e0e0;
  border-bottom: none;
  padding: 0.7em 1em;
  text-decoration: none;
}

/* line 19, ../sass/_tabs.scss */
ul#tabs li a:hover, ul#tabs--link li a:hover {
  background-color: white;
}

/* line 23, ../sass/_tabs.scss */
ul#tabs li a.selected, ul#tabs--link li a.selected {
  color: #3b4351;
  background-color: white;
  font-weight: 600;
  padding: 0.7em 1em;
}

/* line 30, ../sass/_tabs.scss */
.tabs--link ul#tabs--link li a.selected {
  background-color: #f9f9f9;
}

/* line 34, ../sass/_tabs.scss */
div.tabContent {
  padding: 1em;
  background-color: white;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}
/* line 39, ../sass/_tabs.scss */
div.tabContent h4 {
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0.5em 0;
}
/* line 46, ../sass/_tabs.scss */
div.tabContent .card-custom {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 49, ../sass/_tabs.scss */
div.tabContent.tabsContent--link {
  background-color: #f9f9f9;
}

/* line 54, ../sass/_tabs.scss */
div.tabContent.hide {
  display: none;
}

/* line 1, ../sass/_footer.scss */
footer {
  padding: 1em 0;
  margin-top: 3em;
}
/** Fixed **/
.d-none{
  display:none;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .d-none-mobile{
    display:none;
  }
}

