:root{
    --body-bg-color: #f4f4f4;
    --first-bg-color: #ffffff;
    --primary-color: #008c7b;
    --primary-color-rgb: 2, 191, 168;
    --breadcrumb-bgcolor: #017d6e;
    --body-txt-color: #333;
    --main-txt-color: #222;
    --form-bg-color: #f8f8f8;
    --border-color: #e2e2e4;
    --main-bg-color:#f8f8f8;
    --table-thead-color:#edf5f8;
    --default-txt-color:#ffffff;
}
::selection {
    background-color: var(--primary-color);
    color: var(--default-txt-color);
}
a, a:link, a:visited, .txtprimary{
    color:var(--primary-color);
}
.label.label-primary{
    background-color:var(--primary-color);
}

/** Body **/
body{
    background-color:var(--body-bg-color);
    color:var(--body-txt-color);
}
.breadcrumb{
    background-color:var(--breadcrumb-bgcolor);
    color:var(--default-txt-color);
}
.breadcrumb li{
    color:rgba(var(--primary-color-rgb), 0.8);
}
.header-top{
    background-color:var(--primary-color);
}
/** Navbar/Navigation **/
.main-menu ul.nav-tabs li.active{
    background-color:var(--first-bg-color);
}
.main-menu ul.nav-tabs li a{
    color:var(--main-txt-color);
}
.main-menu ul.nav-tabs li a:hover{
    background-color:var(--first-bg-color);
}
.main-menu .tab-content .tab-pane{
    background-color:var(--first-bg-color);
}
.main-menu .tab-content .tab-pane ul.main-menu-dropdown li a{
    color:var(--main-txt-color);
}
/* Mobile */
.navbar-navigation{
    background-color:var(--first-bg-color);
}
/** Aside **/
aside.form-aside{
    background-color:var(--first-bg-color);
}
/** Main **/
.main-stats .stats-card{
    background-color:var(--first-bg-color);
    color:var(--main-txt-color);
}
/** Blocs **/
.recent-default-single{
    color:var(--main-txt-color);
}
.recent-default-single a{
    color:var(--main-txt-color);
    background-color:var(--form-bg-color);
}
.recent-default-single a:hover{
    color:var(--default-txt-color);
    background-color:var(--primary-color);
}
/** Thumbnail **/
.thumbnail{
    background-color: var(--main-bg-color);
}
.thumbnail .thumbnail__title span.t__name{
    color:var(--main-txt-color);
}
/* pdf */
.pdf_default .title-container{
    background-color: var(--primary-color);
    color:var(--default-txt-color);
}
/** Card **/
.card-custom, .card-footer{
    background-color:var(--first-bg-color);
    color:var(--main-txt-color);
}
/** Form **/
form .form-input, form .form-select, .form-select:not([multiple]):not([size]){
    background-color:var(--form-bg-color);
    color:var(--main-txt-color);
}
.form-border input[type="text"],
.form-border input[type="email"],
.form-border textarea,
.form-border input[type="number"],
.form-border input[type="password"],
form .form-input{
    border-color:var(--border-color);
}
.form-border .form-control{
    background-color:var(--form-bg-color);
    color:var(--main-txt-color);
}
.form-default input[type="text"],
.form-default input[type="email"],
.form-default textarea,
.form-default input[type="number"],
.form-default input[type="password"]{
    background-color:var(--form-bg-color);
    border-color:var(--border-color);
}
.form-default .form-group.ic-comp .form-ic-comp{
    color: var(--main-txt-color);
}
.switch{
    background: var(--primary-color);
}
.switch-input:checked + .switch-label {
    color:var(--primary-color);
}
/* Button .btn */
.btn, .btn-sm.btn-primary, .btn.btn-primary, .btn-sm.btn-primary:hover, .btn.btn-primary:hover{
    background: var(--primary-color);
}
/* Editor */
.editor-toolbar a{
    color: var(--main-txt-color)!important;
}
.editor-toolbar a:hover{
    background-color:var(--main-bg-color);
}
.editor-toolbar, .CodeMirror{
    background-color:var(--form-bg-color);
    color:var(--main-txt-color);
    border-color:var(--border-color);
}
/** Table **/
.table-custom thead{
    background-color:var(--table-thead-color);
}
.table-custom td, .table-custom th{
    border-color:var(--border-color);
}
.table-custom tr:nth-child(2n){
    background-color:var(--body-bg-color);
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    table tr, table td{
        border-color:var(--border-color);
    }
}
/** Modal **/
.modal.active .modal-overlay, .modal:target .modal-overlay{
    background: rgba(0,0,0,.5);
}
.modal.modal-sm .modal-container{
    background-color:var(--main-bg-color);
    color:var(--main-txt-color);
}
.modal-container .modal-header{
    background-color:var(--primary-color);
    color:var(--default-txt-color);
}
.modal-container .modal-header a{
    color:var(--default-txt-color);
}

/* Footer */
footer{
    background-color: var(--primary-color);
    color:var(--default-txt-color);
}
footer a, footer a:link, footer a:visited{
    color:var(--default-txt-color);
}

/** HTML Bon d'intervention **/
.pdf, .pdf h4{
    color:var(--main-txt-color);
}
.pdf ul li:nth-child(2n+1){
    background-color: #dbdbdb;
}
.pdf #container{
    background-color:var(--first-bg-color);
    border:1px solid #000000;
}
.pdf .title-container{
    background-color:var(--body-txt-color);
    color:var(--default-txt-color);
}
.pdf .border-right{
    border-right:1px solid #000000;
}
.pdf .border-left{
    border-left:1px solid #000000;
}
.pdf .border-bottom{
    border-bottom:1px solid #000000;
}
.pdf .border-top{
    border-top:1px solid #000000;
}
.pdf .company-info{
    border-top:1px solid var(--body-txt-color);
    border-bottom:1px solid var(--body-txt-color);
    border-right:1px solid var(--body-txt-color);
}
.pdf .companyname-adress span.secondary{
    color:var(--default-txt-color);
}
.pdf .block h3{
    color:var(--default-txt-color);
}
.pdf .block-title{
    border-top:1px solid var(--body-txt-color);
}
.pdf .bi--children h3.children-title{
    background-color:var(--body-txt-color);
    color:var(--default-txt-color);
}
.pdf .etiquette{
    color:var(--default-txt-color);
}
.pdf .checkbox{
    -moz-box-shadow: 2px 2px 0px 0px var(--body-txt-color);
    -webkit-box-shadow: 2px 2px 0px 0px var(--body-txt-color);
    -o-box-shadow: 2px 2px 0px 0px var(--body-txt-color);
    box-shadow: 2px 2px 0px 0px var(--body-txt-color);
    border:1px solid var(--body-txt-color);
}
.pdf .checkbox:checked{
    background-color:#77adc3;
}
.pdf .neutral{background-color: var(--table-thead-color)}
.pdf .default{background-color: #f2f2f2;}
.pdf .primary{background-color:var(--primary-color)}
.pdf .primary-light{background-color:#e8f0ff}
.pdf .secondary{background-color: #77adc3; color: #fff;}
.pdf .secondary-light{background-color: #edf8fc}
.pdf .grey{background-color:#bfbfbf;}
.pdf footer{
    background-color:var(--main-bg-color);
    color: #d9d9d9;
}